<header></header>
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true" style="margin-top: 120px;" modal-dialog>
    <div class="modal-dialog" style="margin-top: 80px;">
        <div class="modal-content">
            <form #xform="ngForm" (ngSubmit)="create(xform,close)" novalidate>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="createUserModalLabel">创建</h4>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="input-group col-xs-12 bottom-gap">
                            <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">编号：</span>
                            <input class="form-control" id="txtId" name='clientid' #clientId='ngModel' type="text" required maxlength="36" minlength="10" [(ngModel)]="SelectedDevice.clientId" />
                        </div>
                        <div [hidden]="xform.controls.clientid?.valid" class="alert alert-danger">
                            <p *ngIf="xform.controls.clientid?.errors?.required">* 必填项</p>
                            <p *ngIf="xform.controls.clientid?.errors?.minlength">* 长度必须大于10个字符</p>
                        </div>

                        <div class="input-group col-xs-12 bottom-gap">
                            <span class="input-group-addon addon-width-4 " style="width:95px; text-align:right;">描述：</span>
                            <input class="form-control" id="txtDesc" name='description' type="text" [(ngModel)]="SelectedDevice.description" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary  col-xs-offset-6" id="btnSave" type="submit">保存</button>
                    <button type="button" class="btn btn-default" #close data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div onselectstart="return false">
    <div class="well well-sm">
        <div class="container fixed-width">
            <span class='btn btn-primary fileinput-button'>
                <i class="glyphicon glyphicon-upload"></i>
                <span>上传文件</span>
            <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" style='width: 90px; height: 30px; display: block;' />
            </span>
        </div>
    </div>
    <div class="container fixed-width">
        <div class="progress" *ngIf='isUploading'>
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': xprogress + '%' }"></div>
        </div>
        <h3 class="pageInfo"><img src="../../images/header.png" />&nbsp;文件</h3>
        <div class="panel panel-default">
            <table class="table table-striped" style="table-layout:fixed;word-wrap:break-word;" id="tblUses">
                <thead class="thead-color">
                    <tr>

                        <th class="col-xs-4" style="cursor:pointer">
                            名称
                        </th>
                        <th class="col-xs-4" style="cursor:pointer">
                            创建时间
                        </th>
                        <th class="col-xs-3">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of devices">
                        <td class="col-xs-4">{{device.name}}</td>
                        <td class="col-xs-4">{{device.createTime}}</td>
                        <td class="col-xs-3">
                            <a class="gap" href="javascript:void(0)" (click)="remove(device, $event)">删除</a>
                            <a class="gap" href="/appxs/{{device.name}}.zip">下载</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>